<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3 offset-md-4">
            @if(selectedMovie){
                <app-card>
                    <img card-title src ="images/shawshank.jpg" class="card-img-top" [id]="selectedMovie.id" [alt]="selectedMovie.movie"/>
                    <h5 class="card-title">{{selectedMovie.movie}}</h5>
                    <p class="card-text"><span>IMDB Rating:</span>{{selectedMovie.rating}}</p>
                    <p class="card-text"><span>Your Rating:</span>
                        @for(number of [].constructor(sliderMax); track $index){
                            @if( selectedRating >= $index ){ 
                                <span (click)="updateSlider($index,selectedMovie.id)" style="cursor: pointer;">★</span>
                            } @else {
                                <span (click)="updateSlider($index,selectedMovie.id)" style="cursor: pointer;">☆</span>
                            }
                        }
                    </p>
                </app-card>
            }
        </div>
    </div>
</div>
